* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* full screen, fixed background*/
.background {
  position: fixed;
  inset: 0;
  background-image: url('assets/back.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
}

.story {
  align-self: flex-end;
  /* background-color: pink; */
  padding: 2rem;
  width: 500px;
  height: 600px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
}

.music {
  align-self: flex-start;
  background-color: rgba(225, 242, 247, 0.618);
  padding: 2rem;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}