.xanh-mono-regular {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.xanh-mono-regular-italic {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.waiting-for-the-sunrise-regular {
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
}

.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.square-peg-regular {
  font-family: "Square Peg", cursive;
  font-weight: 400;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.combo-regular {
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}